/* styles */
/* called by your view template */
/* p.s. vendor prefixes are added automatically */

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i';

* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  margin: 25px;
}

.container {
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 57rem;
  box-shadow: 2px 2px 0 #999;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  color: pink;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h3 {
  color: lightseagreen;
  margin-bottom: 5px;
}

input,
textarea {
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  max-width: 240px;
  width: 100%;
}

.button {
  display: block;
  margin-top: 20px;
}

a + a {
  padding: 10px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}